##########################################
# Environnements (à ne jamais versionner)
##########################################
.venv/
env/
venv/
ENV/
.env
.env.*

##########################################
# Python
##########################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Fichiers temporaires
*.tmp
*.temp
*.bak

##########################################
# Logs
##########################################
*.log

##########################################
# Caches et outils d'analyse
##########################################
.cache/
.mypy_cache/
.pytest_cache/
.pyre/
.dmypy.json
.mr.developer.cfg

##########################################
# Coverage
##########################################
.coverage
coverage.xml
htmlcov/

##########################################
# Bases de données locales (si utilisées)
##########################################
*.sqlite3
*.db

##########################################
# Build & Packaging
##########################################
build/
dist/
sdist/
*.egg-info/
.eggs/

##########################################
# Alembic
##########################################
migrations/__pycache__/

##########################################
# Tests
##########################################
tests/.pytest_cache/
tests/tmp/

##########################################
# Docker
##########################################
docker-data/
*.pid

##########################################
# Éditeurs / IDE
##########################################
.vscode/
.idea/
*.swp

##########################################
# Documentation auto-générée (Sphinx/Mkdocs)
##########################################
docs/_build/
site/

##########################################
# OS-specific files
##########################################
.DS_Store
Thumbs.db
